{{! courses-edit.hbs  }}
<div class="course__edit-wrapper background-nav">
  <div class="course__edit">
  {{!-- <h1>Редактировать&nbsp;&nbsp;&nbsp;{{course.title}}</h1> --}}

   {{#if error}}
  <p class="alert">{{error}}</p>
  {{/if}}
  
  <form action="/courses/edit" method="POST" class="course-form" novalidate>
    <div class="input-field">
      <input id="title" name="title" type="text" class="validate course__edit__form-validate" required value="{{course.title}}" placeholder="Введите название курса"/>
      <span class="helper-text" data-error="Введите название курса"></span>
    </div>
    <div class="input-field">
      <input id="price" name="price" type="number" class="validate" required min="1" value="{{course.price}}" placeholder="Введите цену курса"/>
      <span class="helper-text" data-error="Введите цену"></span>
    </div>
    <div class="input-field">
      <input id="img" name="img" type="text" class="validate" required value="{{course.img}}" placeholder="Введите url картинки" />
      <span class="helper-text" data-error="Введите url картинки"></span>
    </div>
     <div class="description">   
      <textarea class="description-textarea" name="description"  value="{{{data.description}}}" required placeholder="Вставте html шаблон описания курса"></textarea>
      
      <span class="helper-text" data-error="Введите html описание курса"></span>
    </div>

    <input type="hidden" name="id" value="{{course.id}}" />
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button type="submit" class="btn btn-primary course__edit-btn-primary">Редактировать курс</button>
  </form>
  <form action="/courses/remove" method="POST">
    <input type="hidden" name="id" value="{{course.id}}" />
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button class="btn btn-primary course__edit-btn-primary">Удалить курс</button>
  </form>
  </div>
</div>

