{{!-- views profile.hbs --}}
<div class="profile__wrapper background-nav">
  <div class="profile">
    {{!-- <h1>Ваш профиль</h1> --}}

    <div class="profile__row">

      {{#if user.avatarUrl}}
      <div class="profile__avatar">
        <img class="avatar" src="/{{user.avatarUrl}}" alt="avatar-{{user.name}}">
      </div>
      {{else}}
      <p>Аватара нет</p>
      {{/if}}



      <form class="profile__form" action="/profile" method="POST" enctype="multipart/form-data">
        <p>Ваш email: <strong>{{user.email}}</strong></p>

        <div class="input-field file-field-name">
          <input id="name" name="name" type="text" class="validate" required value="{{user.name}}">
          <label for="name">Ваше имя</label>
          <span class="helper-text" data-error="Имя не может быть пустым"></span>
        </div>

        <div class="file-field  input-field">
          <div class="file-field-avatar">
            {{!-- <span>Аватар</span> --}}
            <div class="file-field-input">
              <input id="avatar" name="avatar" type="file" class="file-field-input-hidden" >
              <label for="avatar" class=" file-field-label"><strong>Загрузить аватар</strong></label>
            </div>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button type="submit" class="btn btn__change">Изменить</button>
      </form>
    </div>
  </div>
</div>
</div>